/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-container .header {
  margin-right: 40px;
}
.header-container .fleche-retour {
  text-decoration: none;
}
.header-container .fa-solid {
  padding-top: 20px;
  margin-left: -20px;
}

header img {
  width: 10rem;
  padding: 10px 0 0 0;
}

.header {
  font-family: Shrikhand, sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  margin-top: 20px;
}

@media (min-width: 767.98px) {
  .header-container {
    display: flex;
    justify-content: center;
  }
  .header-container .fa-solid {
    margin-left: -350px;
  }
  .header-container .header {
    margin-right: 0px;
  }
}
.container-footer {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  color: #FFFFFF;
  padding-left: 30px;
  padding-bottom: 20px;
}
.container-footer .logo-footer {
  font-family: shrikhand, sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18px;
  padding-top: 30px;
}
.container-footer .fa-solid {
  padding-right: 15px;
}
.container-footer a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}

.lien-proposer-restaurant {
  margin-top: 1.5em;
}

.lien-devenir-partenaire, .lien-mentions-legales, .lien-contact {
  margin-top: 0.9em;
}

.lien-proposer-restaurant, .lien-devenir-partenaire {
  font-weight: 500;
}

.lien-mentions-legales, .lien-contact {
  font-weight: 400;
}

/****** Media queries ***********/
@media (min-width: 767.98px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    padding-top: 25px;
  }
  .logo-footer {
    order: 4;
    padding-right: 70px;
  }
  .lien-contact {
    padding-right: 50px;
  }
  .lien-mentions-legales {
    padding-right: 25px;
  }
  .lien-devenir-partenaire {
    margin-right: 45px;
  }
  .lien-proposer-restaurant {
    padding-right: 20px;
  }
}
*, ::before, ::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.main-container {
  width: 100%;
}

.loader-container {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: loader 3s linear forwards;
  pointer-events: none;
}

.element {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0 10px;
}

.element1 {
  animation: loader infinite 0.3s alternate;
  background: #9356DC;
}

.element2 {
  animation: loader infinite 0.3s 0.05s alternate;
  background: #FF79DA;
}

.element3 {
  animation: loader infinite 0.3s 0.1s alternate;
  background: #008766;
}

@keyframes loader {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    display: none;
  }
}
@keyframes loader-element {
  100% {
    transform: translateY(-30px);
  }
}
h3 {
  font-size: 18px;
  font-weight: 700;
}

h4 {
  font-size: 17px;
  margin-top: 10px;
  font-weight: 300;
}

.rechercheRestau {
  background-color: #F5F5F5;
  padding-bottom: 45px;
}

.recherche {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  background-color: #EAEAEA;
  box-shadow: 0px -3px 2px rgba(0, 0, 0, 0.15);
  margin-top: 15px;
}
.recherche p {
  font-weight: 500;
}

.recherche i {
  padding-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.decouverteRestau {
  font-size: 15px;
  padding-top: 10px;
  font-weight: 300;
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  padding-top: 40px;
  padding-left: 15px;
}

.reserver {
  text-align: center;
}

.fonctionnement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bouton_rechercheRestaurant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.bouton_rechercheRestaurant button {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 25px;
  padding: 13px;
  color: white;
  font-weight: 500;
}
.bouton_rechercheRestaurant button:hover {
  background: linear-gradient(185.64deg, #a476dc -10.2%, #fbace4 129.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.fonctionnement-bouton {
  display: flex;
  width: 90%;
  background: #F7F7F7;
  box-shadow: 0px 4px 10px rgba(15, 13, 13, 0.25);
  border-radius: 20px;
  border: none;
  padding: 25px 20px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  position: relative;
}
.fonctionnement-bouton i {
  padding-right: 20px;
  padding-left: 20px;
  color: #7e7e7e;
}
.fonctionnement-bouton i:hover {
  cursor: pointer;
  color: #9356DC;
}

.fonctionnement-bouton:first-child {
  margin-top: 25px;
}

.choix-fonctionnement {
  text-align: start;
  font-weight: 600;
}

.numero-bouton {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 1.5em;
  height: 1.5em;
  background: #9356DC;
  color: white;
  padding: 2px;
  position: absolute;
  left: -10px;
}

.titre-restaurants {
  background-color: #F5F5F5;
  margin-top: 30px;
  padding-left: 20px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  padding-bottom: 60px;
}
.restaurants img {
  width: 100%;
  height: 231px;
  padding-bottom: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  background-color: white;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 15px;
  padding-bottom: 20px;
  color: black;
  position: relative;
}
.card-restaurant img {
  padding-bottom: 20px;
}
.card-restaurant .restaurants-nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px transparent;
  background-color: #99E2D0;
  position: absolute;
  top: 10px;
  width: 5em;
  height: 1.8em;
  right: 30px;
  color: #008766;
}

.cardContent {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  position: relative;
}
.cardContent i {
  align-items: flex-end;
}
.cardContent .icon-heart {
  position: absolute;
  right: 1em;
  font-size: 1.5em;
}

.fas {
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}
.fas:hover {
  opacity: 1;
  transform: scale(1.1);
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/****** Media queries ***********/
@media (min-width: 767.98px) {
  .reserver {
    font-size: 40px;
  }
  .decouverteRestau {
    margin-top: 25px;
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px;
  }
  .fonctionnement .fonctionnement-bouton {
    width: 30%;
  }
  .fonctionnement-bouton:first-child {
    margin-top: 0;
  }
  .restaurants {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurants .card-restaurant {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */