@import "./sass/_main.scss";

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}
.main-container {
    width: 100%;
}
.photo-restaurant {
    width: 100%;
    margin-top: 10px;
}
.menu {
    background-color: $fonctionnementBackground;
    padding-left: 5px;
    padding-right: 5px;
    // border-top-left-radius: 15px;
    // border-top-right-radius: 15px;
    & .titre {
        font-family: 'Shrikhand';
        font-style: italic;
        font-weight: 400;
        font-size: 24px;
        text-align: center;
        padding-top: 25px;
    }
        & .icone {
            display: flex;
            justify-content: space-around;
            align-items: flex-end;
            margin-bottom: 25px;
        }
            & .icon-heart {
                font-size: 1.4em;
            }
}
h2 {
    text-transform: uppercase;
    border-bottom: 2px solid $couleur-background-nouveau;
    display: inline-block;
    margin-top: 20px;
}
.menu-bouton {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: $button-fonctionnement;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);  
    border-radius: 15px;
    border: none;
    padding: 10px 10px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    & .plat {
        font-weight: 500;
        font-size: 15px;
    }
        & .details-plat {
            font-weight: 300;
            font-size: 13.5px;
        }
            & .prix {
                font-weight: 700;
                font-size: 13px;
            }
}
.details-prix {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}