//Principales




// Utilitaires couleurs

$buttonGradient: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$buttonBackground: #9356DC;
$restaurantBackground: #D2D2D2;
$fonctionnementBackground: #F6F6F6;
$rechercheBackground: #EAEAEA;
$buttonFonctionnement: #F7F7F7;
$couleurFonctionnement:#9356DC;


// Textes




// Utilitaires position / dimensions