//Principales




// Utilitaires couleurs

$button-gradient: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$button-background: #9356DC;
$restaurant-background: #D2D2D2;
$fonctionnement-background: #F6F6F6;
$recherche-background: #EAEAEA;

// Textes




// Utilitaires position / dimensions