//Principales




// Utilitaires couleurs

$button-gradient: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
$restaurant-background: #F5F5F5;
$fonctionnementBackground: #F6F6F6;
$recherche-background: #EAEAEA;
$button-fonctionnement: #F7F7F7;
$couleur-fonctionnement:#9356DC;
$background-footer: #353535;
$couleur-footer: #FFFFFF;
$couleur-icone : #7e7e7e;
$couleur-background-nouveau: #99E2D0;
$couleur-nouveau : #008766;



// Textes




// Utilitaires position / dimensions