@import '../Utils/_variables';

.container-footer {
    display: flex;
    flex-direction: column;
    background-color: $background-footer;
    color: $couleur-footer;
    padding-left: 30px;
    padding-bottom: 20px;
    & .logo-footer {
        font-family: shrikhand,sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 18px;
        padding-top: 30px;
    }
        & .fa-solid {
            padding-right: 15px ;
        }
        & a {
            text-decoration: none;
            color: $couleur-footer;
            font-size: 16px;
        }
}
.lien-proposer-restaurant {
    margin-top: 1.5em;
}
.lien-devenir-partenaire, .lien-mentions-legales, .lien-contact {
    margin-top: 0.9em;
}
.lien-proposer-restaurant, .lien-devenir-partenaire {
    font-weight: 500;
}
.lien-mentions-legales, .lien-contact {
    font-weight: 400;
}


/****** Media queries ***********/
// version desktop
@media (min-width: 767.98px) {
    .container-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .logo-footer {
        order: 4;
    }
    a .lien-contact {
        margin-right: -50px;
    }
    a .lien-mentions-legales {
        margin-right: -60px;
    }
    a .lien-devenir-partenaire {
        margin-right: -90px;
    }
    a .lien-proposer-restaurant {
        margin-right: -90px;
    }
}