header img {
    width: 10rem;
    padding: 10px 0 0 0;
}
.header {
    font-family: Shrikhand, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

