.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    & .header {
        margin-right: 40px;
    }
        // & .fleche-retour {
        //     text-decoration: none;
        // }
            & .fa-solid {
                padding-top: 20px;
                margin-left: -20px; 
            }   
}
header img {
    width: 10rem;
    padding: 10px 0 0 0;
}
.header {
    font-family: Shrikhand, sans-serif;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
@media (min-width: 767.98px) {
    .header-container {
        display: flex;
        justify-content: center;
        .fa-solid {
            margin-left: -100px; 
        }  
            & .header {
                margin-right: 0px;
            } 
    }
}
@media (min-width: 1024px) {
        .header-container .fa-solid {
            margin-left: -390px; 
        }  
    }


