// .header {
//     @include center;
//     width: 100%;
//     padding-bottom: 0;
    
// }

//.logo {
    // width: 100%;
    // font-weight: 400;
    // font-size: 30px;
    // font-family: shrikhand,sans-serif;
    // line-height: 44px;
    // text-align: center;
//}

header img {
    width: 10rem;
    padding: 10px 0 0 0;
}
.header {
    font-family: Shrikhand, sans-serif;
    font-size: 30px;
    font-weight:bolder;
    text-align: center;
    margin-top: 20px;
}

